.App {
  text-align: center;
  background-color: rgb(70, 146, 74);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content auto;
  min-height: 100vh;
}

.Footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgb(241 166 105);
  font-size: x-small;
}
